body {
}

footer {
    position: fixed;
    bottom: 0;
}

#login-form {
    width: 300px;
}

#signup-form {
    width: 300px;
}

.top-padding {
    padding-top: 70px;
}

.account-card {
    display: none;
}
