{{define "welcome"}}

    <form id="logout-form" class="form-inline p-4 my-2 my-lg-0">
        <span class="oi oi-heart mx-4">Welcome</span>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
    <script class="script-onload">
        {
            function logoutListener(e) {
                e.preventDefault();
                eraseCookie("authorization");
                window.location.href = "/";
            }

            document.getElementById("logout-form").addEventListener("submit", logoutListener);
        }
    </script>
{{end}}
